:root {
  /* color */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  /* font */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* Visually hidden CSS pattern ------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Body --------------------------------------*/
body {
  /* margin: 0 auto; */
  /* max-width: 1440px; */
  font-family: var(--font-family);
  color: var(--navy-blue);
  background-color: var(--white);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  border-bottom: 1px solid var(--cornflower);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
header .container ul {
  display: flex;
  gap: 40px;
}
nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
nav ul {
  margin-left: 76px;
}
.nav-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 23px;
}
address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:focus {
  outline: 0;
}
h2 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
a {
  /* скидання дефолтного підкреслення для посилань */
  text-decoration: none;
  color: currentColor;
  /* color: inherit; */
}
a:hover,
a:focus {
  color: var(--iris);
}
ul {
  /* скидання маркерів у списках */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* logo ------------------------------------ */
.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio-dark {
  color: #2e2f42;
}
.logo-studio-light {
  color: #f4f4fd;
}
/* orer-service -----------------------------*/
.hero {
  padding: 188px 0;
  background: var(--navy-blue);
  color: var(--white);
  text-align: center;
}
.hero h1 {
  margin: 0 auto 48px;
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
}
.hero button {
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}
.hero button:hover,
.hero button:focus {
  color: var(--white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: var(--ocean);
  cursor: pointer;
}
/* section-advantages -----------------------------*/
.section-advantages {
  padding-top: 120px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--slate);
}
.section-advantages h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.section-advantages ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.section-advantages ul li {
  flex-basis: calc(100% / 4 - 12px);
}
.section-advantages ul li p {
  margin-top: 8px;
}
/* what-we-doing ----------------------------------*/
.what-we-doing {
  padding: 120px 0;
}
.what-we-doing ul {
  margin-top: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.what-we-doing ul li img {
  border: 1px solid var(--cornflower);
}
/* team ----------------------------------*/
.our-team {
  padding: 120px 0;
  background-color: var(--cloud);
  text-align: center;
}
.our-team-txt {
  padding: 32px 0;
}
.our-team h3 {
  /* margin-top: 32px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.our-team p {
  margin-top: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team ul {
  margin-top: 72px;
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.our-team ul li {
  /* padding-bottom: 32px; */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
/* footer ---------------------------------- */
.footer {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cloud);
  background-color: var(--navy-blue);
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* portfolio.html ---------------------------------- */
.section-portfolio {
  padding: 96px 0 120px 0;
}
.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter button {
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--cloud);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);
}
.filter button:focus,
.filter button:hover {
  border: 1px solid var(--ocean);
  outline: 0;
  color: var(--white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: var(--ocean);
  cursor: pointer;
}
.section-portfolio .projects {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.section-portfolio .projects h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}
.section-portfolio .projects p {
  margin-top: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-portfolio .projects li {
  flex-basis: calc((100% - 24px * 2) / 3);
}
.project-item-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top-width: 0;
}
